<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index Page</title>
</head>
<body style="text-align: center">
<h1 th:text="'Index Page'">Index Page</h1>
<table style="text-align: left">
    <tr>
        <th>ID</th>
        <th>Description</th>
        <th>Directions</th>
    </tr>
    <tr th:each="recipe:${recipes}">
        <td th:text="${recipe.getId()}">1</td>
        <td th:text="${recipe.getDescription()}">Tasty stuff</td>
        <td th:text="${recipe.getDirections()}">First step...</td>
    </tr>

</table>



</body>
</html>